body{
    margin: 0;
    padding: 0;
}
html, header, div, h1, nav, ul, li, a, main, figure, p, h2, h3 {
margin: 0;
padding: 0;
}
.body{
    background-color: #ced4da;
    
}
.containerHeader{
   background-color: white;
    margin: 0 auto;
   
}
.menu{
    max-width: 1200px;
    background-color: white;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 8px;
    height: 50px;
    margin: 0 auto;
   
}
.cabecalho{
display: flex;
align-items: center;
}
.cabecalho h1{
    margin-right: 40px;
}
.cabecalho li{
    margin: 10px;
}
.cabecalho .menu-nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
}
.menu-nav ul li a{
    text-decoration: none;
    color: #585e65;
}
.menu button{
    text-decoration: none;
    height: 28px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border:  none;
}

.itens-loja{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ced4da;
    text-decoration: none;
    list-style: none;
    margin-top: 25px;
    

}
.card{
    background-color: white;
    width: 22%;
    border: solid #868e96 1px;
    margin-bottom: 19px;
    padding: 10px;
    border-radius: 8px;
    margin-top: auto;
    height: 310px;
    

    
}
.card button{
    text-decoration: none;
    height: 28px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 69px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border:  none;
    
    
    
    

}
.card figure{
    max-width: 284px;
    overflow: hidden;
    text-align: center;
}
